.albumsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.albumItem {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}
.albumItem:hover .desc {
  bottom: 0;
}
.imgBox {
  width: 420px;
  height: 700px;
  background: no-repeat center;
  background-size: cover;
}

.desc {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: absolute;
  left: 0;
  bottom: -200px;
  padding: 1em 0.7em;
  transition: bottom 0.2s ease;
}
.desc h3 {
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  margin-bottom: 0.5em;
}
.desc h3 span {
  font-size: 1.5rem;
}
.desc h4 {
  letter-spacing: 1px;
}
