.title {
  text-align: center;
}
.img {
  width: 960px;
  height: 600px;
  margin: 2rem auto;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translateY(100px);
}
.info {
  text-align: center;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
