.title {
  font-size: 5rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  text-align: center;
}
.imgBox {
  height: 500px;
  overflow: hidden;
}
.imgBox img {
  width: 100%;
  transform: translateY(-500px);
  filter: sepia(0.4) contrast(1.2);
  overflow: hidden;
}
.postsContainer {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
}
.link {
  position: absolute;
  right: 0rem;
  top: 1.4rem;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.link svg {
  margin-right: 0.5em;
}
.link:hover {
  text-decoration: underline;
}
.newPost {
  padding: 2rem 0 0;
  width: 60%;
  margin: 0 auto;
}

.newPost h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.newPost input {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #dfe6e9;
}
.newPost input:focus {
  background-color: #f1f6f7;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.newPost textarea {
  background-color: #dfe6e9;
  width: 100%;
  height: 300px;
  border-radius: 4px;
  padding-left: 1rem;
  font-size: 1rem;
  border: 0;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
}
.newPost textarea:focus {
  background-color: #f1f6f7;
  outline: 0;
}
