.users {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1), -2px -3px 5px rgba(0, 0, 0, 0.1);
  padding: 2em 1em;
  transition: 0.2s;
}

.users * {
  text-align: center;
}
.users h3 {
  margin-bottom: 1rem;
}
.users h3:hover {
  text-decoration: underline;
  cursor: pointer;
}
.img {
  width: 100%;
  margin: 10px;
  overflow: hidden;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  filter: sepia(0.5) grayscale(1);
}

.link {
  margin-top: 1rem;
}
@media (min-width: 1280px) {
  .users:hover .img img {
    transform: scale(1.2);
    filter: sepia(0) grayscale(0) contrast(1);
  }
  .users:hover {
    background-color: #eeeeee;
  }
  .users:hover .btn {
    outline: 1px solid #fff;
  }
}
